
    <html>
        <body>
          <% include header.ejs %>
          <div>
            <figure class="gallery">
                <img src='/img/exterior/exterior1.jpg'>
                <img src='/img/exterior/exterior2.jpg'>
                <img src='/img/exterior/exterior3.jpg'>
                <img src='/img/exterior/exterior4.jpg'>
                <img src='/img/exterior/exterior5.jpg'>
                <img src='/img/exterior/exterior6.jpg'>
                <img src='/img/exterior/exterior7.jpg'>
                <img src='/img/exterior/exterior8.jpg'>
                <img src='/img/exterior/exterior9.jpg'>
                <img src='/img/exterior/exterior10.jpg'>
                <img src='/img/exterior/exterior11.jpg'>
                <img src='/img/exterior/exterior12.jpg'>
                <img src='/img/exterior/exterior13.jpg'>
                <img src='/img/exterior/exterior14.jpg'>
                <img src='/img/exterior/exterior15.jpg'>
                <img src='/img/exterior/exterior16.jpg'>
                <img src='/img/exterior/exterior17.jpg'>
                <img src='/img/exterior/exterior18.jpg'>
                <img src='/img/exterior/exterior19.jpg'>
                <img src='/img/exterior/exterior20.jpg'>
                <img src='/img/exterior/exterior21.jpg'>
                <img src='/img/exterior/exterior22.jpg'>
                <img src='/img/exterior/exterior23.jpg'>
                <img src='/img/exterior/exterior24.jpg'>
                <img src='/img/exterior/exterior25.jpg'>
                <img src='/img/exterior/exterior26.jpg'>
     

             </figure>
           
         </div>

         <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="modalImg">
          </div>
          
        

           <% include footer.ejs %>
        </body>
      </html>
      
  
