<html>
  <body>
    <% include header.ejs %>


    
        <div>
          <figure class="gallery">
            <img src="/img/interior/anoop- interior/1.1.jpeg" loading="lazy">
            <img src="/img/interior/anoop- interior/1.2.png" loading="lazy">
            <img src="/img/interior/anoop- interior/3.png" loading="lazy">
            <img src="/img/interior/anoop- interior/4.png" loading="lazy">
            <img src="/img/interior/anoop- interior/5.png" loading="lazy">
            <img src="/img/interior/anoop- interior/6.png" loading="lazy">
            <img src="/img/interior/anoop- interior/7.png" loading="lazy">
            <img src="/img/interior/anoop- interior/8.png" loading="lazy">
            <img src="/img/interior/anoop- interior/9.png" loading="lazy">
            <img src="/img/interior/anoop- interior/10.png" loading="lazy">
            <img src="/img/interior/anoop- interior/11.png" loading="lazy">
            <img src="/img/interior/anoop- interior/12.png" loading="lazy">
            <img src="/img/interior/kakkodi/1.jpg" loading="lazy">
            <img src="/img/interior/kakkodi/2.jpg" loading="lazy">
            <img src="/img/interior/kakkodi/3.jpg" loading="lazy">
            <img src="/img/interior/kakkodi/4.jpg" loading="lazy">
            <img src="/img/interior/shuhaib - interior/1.1.jpeg" loading="lazy">
            <img src="/img/interior/shuhaib - interior/1.2.jpeg" loading="lazy">
            <img src="/img/interior/shuhaib - interior/1.jpg" loading="lazy">
            <img src="/img/interior/shuhaib - interior/2.jpeg" loading="lazy">
            <img src="/img/interior/shuhaib - interior/3.1.jpeg" loading="lazy">
            <img src="/img/interior/shuhaib - interior/3.2.jpeg" loading="lazy">
            <img src="/img/interior/shuhaib - interior/3.jpeg" loading="lazy">
            <img src="/img/interior/shuhaib - interior/hall.jpeg" loading="lazy">
          </figure>
          
         
      
           <div id="myModal" class="modal">
              <span class="close">&times;</span>
              <img class="modal-content" id="modalImg">
           </div>
           
          
        </div>
 

    <% include footer.ejs %>
  </body>
</html>
