<html>
  <body>
    <% include header.ejs %>


    
        <div>
          <figure class="gallery">
              <img src="/img/interior/anoop- interior/1.1.png">
              <img src="/img/interior/anoop- interior/1.2.png">
              <img src="/img/interior/anoop- interior/3.png">
              <img src="/img/interior/anoop- interior/4.png">
              <img src="/img/interior/anoop- interior/5.png">
              <img src="/img/interior/anoop- interior/6.png">
              <img src="/img/interior/anoop- interior/7.png">
              <img src="/img/interior/anoop- interior/8.png">
              <img src="/img/interior/anoop- interior/9.png">
              <img src="/img/interior/anoop- interior/10.png">
              <img src="/img/interior/anoop- interior/11.png">
              <img src="/img/interior/anoop- interior/12.png">
              <img src="/img/interior/kakkodi/1.jpg">
              <img src="/img/interior/kakkodi/2.jpg">
              <img src="/img/interior/kakkodi/3.jpg">
              <img src="/img/interior/kakkodi/4.jpg">
              <img src="/img/interior/shuhaib - interior/1.1.png">
              <img src="/img/interior/shuhaib - interior/1.2.png">
              <img src="/img/interior/shuhaib - interior/1.jpg">
              <img src="/img/interior/shuhaib - interior/2.png">
              <img src="/img/interior/shuhaib - interior/3.1.png">
              <img src="/img/interior/shuhaib - interior/3.png">
              <img src="/img/interior/shuhaib - interior/hall.png">
           </figure>
         
      
           <div id="myModal" class="modal">
              <span class="close">&times;</span>
              <img class="modal-content" id="modalImg">
           </div>
           
          
        </div>
 

    <% include footer.ejs %>
  </body>
</html>
