<html>
  <body>
    <% include header.ejs %>
    <figure>
        <img src="/img/interior/anoop- interior/1.1.png">
        <img src="/img/interior/anoop- interior/1.2.png">
        <img src="/img/interior/anoop- interior/3.png">
        <img src="/img/interior/anoop- interior/4.png">
        <img src="/img/interior/anoop- interior/5.png">
        <img src="/img/interior/anoop- interior/6.png">
        <img src="/img/interior/anoop- interior/7.png">
        <img src="/img/interior/anoop- interior/8.png">
        <img src="/img/interior/anoop- interior/9.png">
        <img src="/img/interior/anoop- interior/10.png">
        <img src="/img/interior/anoop- interior/11.png">
        <img src="/img/interior/anoop- interior/12.png">
        <img src="/img/interior/kakkodi/1.jpg">
        <img src="/img/interior/kakkodi/2.jpg">
        <img src="/img/interior/kakkodi/3.jpg">
        <img src="/img/interior/kakkodi/4.jpg">
        <img src="/img/interior/shuhaib - interior/1.1.png">
        <img src="/img/interior/shuhaib - interior/1.2.png">
        <img src="/img/interior/shuhaib - interior/1.jpg">
        <img src="/img/interior/shuhaib - interior/2.png">
        <img src="/img/interior/shuhaib - interior/3.1.png">
        <img src="/img/interior/shuhaib - interior/3.png">
        <img src="/img/interior/shuhaib - interior/hall.png">
     </figure>
     <style>
        figure {
            padding: 30px 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    justify-items: stretch; 
    align-items: stretch; 
    gap: 2svmin;
}

img {
   width:100%;
   aspect-ratio: 16 / 9;
   object-fit: cover;
}

@media (min-width:500px) {
   figure {
   grid-template-columns: repeat(2, 1fr);
   }  
   img:nth-of-type(11) {
   grid-row: span 2 / auto;
  }
}

@media (min-width:1000px) {
   figure {
   grid-template-columns: repeat(4, 1fr);
   gap: 1svmin;
   }  
  
   img:where(:nth-of-type(3), :nth-of-type(12)) {
   grid-row: span 2 / auto;
   grid-column: span 2 / auto;
   }

   img:nth-of-type(5) {
   grid-column: span 2 / auto;
   }
  
   img:nth-of-type(15) {
   grid-column: span 2 / auto;
   }
}
     </style>

<div id="myModal" class="modal">
   <span class="close">&times;</span>
   <img class="modal-content" id="modalImg">
 </div>
 
 <style>
 /* Modal Styles */
 .modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 50px;
   width: 100%;
   height: 100%;
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(26, 25, 25); /* Fallback color */
   background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
 }
 
 /* Modal Content (image) */
 .modal-content {
   top: 100px;
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
 }
 
 /* Close Button */
 .close {
   position: absolute;
   top: 45px;
   right: 35px;
   color: #f1f1f1;
   font-size: 40px;
   font-weight: bold;
   transition: 0.3s;
 }
 
 .close:hover,
 .close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
 }
 </style>
     <% include footer.ejs %>
  </body>
</html>
